* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #F5F5F5;
  min-height: 100vh;
}



.grilla {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  
}