

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    padding: 20px;
    justify-items: center; 
    
     /* linear-gradient(90deg, #e1871f, #d0493a) */
     
}



@media (max-width: 600px) {
    #pagination {
      flex-direction:row;
      flex-wrap: nowrap;
    }
  }